
@{
    ViewBag.Title = "About Me";
}

<h1>My Biography: Kudakwashe Mhuriro</h1>
<h4>University of Pretoria Student Kudakwashe</h4>

<div class ="container" style=" background-color: aqua">
    <div class="row">
        <div class="col-lg-6">
            <h3>Bio</h3>
            <p style="font: medium">
                My name is Kudakwasge Muriro and I am currently a third year international student at the University of Pretoria. I am origially from Zimbabwe.
                I spent most of s life moving from place to place in Zimbabwe as well as South Africa. I have lived in a number of places
                from Masvingo to Harare in Zimbabwe and and a number of places within Pretoria and Kimberley in South Africa.
                <br /><br />
                I Started grade 1 at PS Fourie Primary School in Pretoria continued Grade 2 - 7 at Venus Primary School in Kimberley and Grade 8- 12 
                at Kimberley Boys' High school. Due to my ability to adapt i was fortunate enough to not sruggle with fitting in whereever I went and even found myself
                as headboy at my primary school n grade 7 and part of the student representative council in matric. 
                <br /><br />
                At this point I know more about South Africa than I know Zimbabwe and I can speak Afrikaans which adds to my language tally of 3 including Shona and English.
                I am currently working towards my undergraduate degree and plan to continue to do my Honours degree.
            </p>
        </div>
        <div class="col-lg-6">
            <h3>Kudakwashe</h3>
            <img src="~/Image/Kudakwashe.jpg" style=" height: 300px" />
        </div>
    </div>
</div>


